.btn {
  display: inline-block;
  padding: 32px;
  line-height: 120%;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid transparent;
  transition:
    color .3s ease,
    background-color .3s ease,
    transform .3s ease,
    border-color .3s ease;
}

.btnGreen {
  background-color:$brand-green;
  color: #fff;
  &:hover {
    background-color:#fff;
    color: $brand-green;
    border-color: $brand-green;
  }
  &:active {
    transform: translateY(3px);
  }
}

.btnWhite {
  background-color:#fff;
  color: $brand-green;
}

button {
  cursor: pointer;
  border:none;
  background-color: transparent;
}
