// Font
$mainFont: "Montserrat";
$mainFontColor: #59677E;

// Size
$mainFontSize: 16px;
$mainFontWeight: 500;
$mainLineHeight: 1.4;

$desktopWidth: 1330px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-green: #009C55;
$title-color: #343A45;

// Border Color
$border-base:1px solid #BEC7D6;
